body
{
    margin: 0;
    padding: 0;
}
#base
{
    width: 75vmin;
    margin: 0 auto;
    position: relative;
}
#bigPlate
{
    width: 75vmin;
    height: 75vmin;
    float: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 3.125%;
    grid-gap : 3.125%;
    background-color: aliceblue;
    border-radius: 3.125%;
}

#scorePlate
{
    width: 75vmin;
    margin: 3vmin 0 3vmin 0;
    float: left;
    border-radius: 3.125%;
}
.smallPlate
{
    float: left;
    border-radius: 5.714286%;
    background-color: bisque;
}
.topFont
{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 5vmin;
    font-weight: bold;
}

.top
{
    position: absolute;
    top: 2.34375vmin;
    left: 2.34375vmin;
    width: 16.9921875vmin;
    height: 16.9921875vmin;
    float: left;
    border-radius: 5.714286%;
    background-color: crimson;
    display: table;
}

#score
{
    font-size: 3vmin;
}

#clearPlate
{
    width: 50vmin;
    height: 50vmin;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightblue;
    border-radius: 10%;
    display: none;
}

#clear
{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 9vmin;
    font-weight: bold;
}